#**PYTHON BASIC**

Nithya Sharma   - 4/12/21

# ASSIGNMENT-1

1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

*   *
*   'hello'
*  -87.8
*  -
*  /
*   +
*   6



*   values: int -> -87.8, 6  str-> 'hello'
*   expressions: M.Operatons -> * ,- ,/, +

**2. What is the difference between string and variable?**

a variable is something that can store a value, where as string is something thats assigned to a variable using quotes


**3. Describe three different data types**

*   int() -  integer data type eg: ..,-1,0,1,2,..

*   float() - decimal numbers(nos. that are not integers)  eg: 1.0,-4.876

*   str() - anything letters numbers ,-:;..symbols that come between " " is a string

**4. What is an expression made up of? What do all expressions do?**

An expression is a combination of values, variables, operators, and calls to functions, expressions need to be evaluated.

It combines values & operators and evaluates it into a single value

**5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?**

statements are like spam = 10
there is a variable and a value is assigned to it

expressions on the other hand will have variables, operators,etc

**6. After running the following code, what does the variable bacon contain?**
bacon = 22
bacon + 1

the variable bacon still contains 22

In [42]:
bacon = 22
bacon + 1

23

In [25]:
bacon

22

**7. What should the values of the following two terms be?**
'spam' + 'spamspam'
'spam' * 3

In [28]:
'spam' + 'spamspam' 
#spamspamspam

'spamspamspam'

In [30]:
'spam' * 3
#spamspamspam

'spamspamspam'

**8. Why is eggs a valid variable name while 100 is invalid?**

this is because variable names cant start with values

**9. What three functions can be used to get the integer, floating-point number, or string version of a value?**

int(), float(), str()

**10. Why does this expression cause an error? How can you fix it?**
'I have eaten ' + 99 + ' burritos.':

'I have eaten ' + 99 + ' burritos.'

We get an error because, str and int don't go together, they cant be added subratected or divided

In [38]:
#u can either covert the int to str to make it work 
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [41]:
#or remove the int
'I have eaten ' + 'burritos.'

'I have eaten burritos.'